* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --dark: #4a4a4a;
  --darkest: #121212;
  --gray: #8181816b;
  --text: #f5f5f5;
  --font: "Comfortaa", sans-serif;
}

body {
  background-color: var(--darkest);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 1rem auto 0 auto;
  text-align: center;
}

header img {
  max-width: 1.5rem;
  margin-right: 0.5rem;
}

h1 {
  font-family: var(--font);
  color: var(--text);
  margin: 3rem auto;
  font-weight: 700;
}

.form-flex {
  margin: 2rem auto;
  display: flex;
}

.new-item-form {
  margin: 2rem auto;
}

form input {
  color: var(--text);
  background-color: var(--darkest);
  padding: 0.75rem;
  border: 2px solid var(--gray);
  border-radius: 5px;
  margin: 0 1.5rem;
}

.list-item {
  color: var(--text);
  border-radius: 5px;
  padding: 1rem;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

input[type="checkbox"] {
  width: 1rem;
}

input[type="checkbox"]:checked + input[type="text"] {
  text-decoration: line-through;
}

form input,
.item-text {
  font-weight: 500;
  font-size: 1rem;
  flex-grow: 1;
  margin: 0 1rem;
  color: var(--text);
  background: none;
}

li input[type="text"] {
  pointer-events: none;
  border: none;
}
button {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  background: transparent;
  color: var(--text);
  border: none;
  transition: opacity 0.2s ease;
}

button:hover,
button:active {
  opacity: 0.8;
}

@media (min-width: 900px) {
  header,
  main {
    width: 50%;
  }
}
